body {
	margin: 0 0 0 0;
	padding: 0% 10% 0% 10%;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	font-size: 16px;
}
input {
	font-style: italic;
	font-size: 20px;
	background-color : #8ae0f2;
	border: 0;
	padding: 1 5 1 5;
}
select {
	font-style: italic;
	font-size: 20px;
	background-color : #8ae0f2;
	border: 0;
	padding: 1 5 1 5;
}
table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}
tr {
	width: 100%;
	height: 15px;
}
td {
	border: 1px solid black;
	width: 25%;
	padding: 5;
}
#exit_button {
	position: absolute;
	right: 10;
	top: 10;
}
