html {
	height: 100%;
}
body {
	height: 100%;
	background: #e3f5f7;
	margin: 0;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	font-size: 16px;
}
#container {
	height: 100%;
	min-height: 768px;
	min-width: 1024px;
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-columns: 100%;
	grid-template-rows: 5% 90% 5%;
}
#main {
	grid-area: main;
}
.container {
	height: 100%;
}
#header {
	grid-area: header;
}
#footer {
	grid-area: footer;
}
#header, #footer {
	font-size: 14px;
}
#header-container {
	display: grid;
	grid-template-columns: 250px auto 250px;
	grid-template-rows: 100%;
}
#footer-container {
	display: grid;
	grid-template-columns: 250px auto 250px;
	grid-template-rows: 100%;
}
#header-left {
	padding: 5px 10px;
}
#header-content, #footer-content {
	text-align: center;
}
#header-right {
	justify-self: end;
}
#footer-content {
	padding: 10px 0;
}
#footer-right {
	justify-self: end;
	padding: 10px 10px;
}
#menu {
  background: #ffffff;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 0 0 0 20px;
  height: 100%;
  overflow-y: auto;
}
a.nav:link, a.nav:visited {
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  background-color: #8ae0f2;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.nav:hover, a.nav:active {
  background-color: #00d2ff;
}
.photo {
	height: 100%;
	max-height: 320px;
	max-width: 240px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
}
#photo_bg {
	position: relative;
	background-image: url('/img/ac/s/0.jpg');
}
#photo_del {
	height: 16px;
	width: 16px;
	position: absolute;
	top: 0;
	right: 0;
}
#photo_del:hover {
	cursor: pointer;
}
#photo_del:hover::after {
	content: attr(data-title);
	position: absolute;
  left: 16px;
	top: 16px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  background-color: #8ae0f2;
  font-size: 12px;
  padding: 2px 5px;
}
#school {
	font-weight: bold;
	font-size: 20px;
}
button {
	font-size: 20px;
	background-color : #8ae0f2;
	border: 0;
	padding: 1px 5px;
}
input {
	font-style: italic;
	font-size: 20px;
	background-color : #8ae0f2;
	border: 0;
	padding: 1px 5px;
}
input.no-data {
	background-color : #f13934;
}
select {
	font-style: italic;
	font-size: 20px;
	background-color : #8ae0f2;
	border: 0;
	padding: 1px 5px;
}
.submit {
	font-style: normal;
}
button:hover, input:hover, select:hover {
	background-color: #00d2ff;
}
#info-container {
	height: 100%;
	display: grid;
	grid-template-areas:
		"photo f"
		"photo i"
		"photo o"
		"class birthday"
		"address address"
		"phone card";
	grid-template-columns: 50%;
	grid-template-rows: repeat(3, 15%) repeat(4, 13.75%);
	align-items: center;
	background: #ffffff;
  margin: 0 20px 0 20px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.info-item {
	padding: 5px 10px;
}
#info-item-photo {
	grid-area: photo;
	height: 90%;
	text-align: center;
}
#info-item-address {
	grid-area: address;
	justify-self: center;
	text-align: center;
}
#info-item-class, #info-item-birthday, #info-item-phone, #info-item-card, #info-item-uid {
	justify-self: center;
	text-align: center;
}
#info-item-button1 {
	justify-self: end;
}
#info-item-button2 {
	justify-self: start;
}
