html {
	height: 100%;
}
body {
	height: 100%;
	background: #e3f5f7;
	margin: 0;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	font-size: 16px;
}
#container {
	height: 100%;
	min-height: 768px;
	min-width: 1024px;
	display: grid;
	grid:
		"header" 5%
		"main" 90%
		"footer" 5%
		/ 100%;
}
#main {
	grid-area: main;
}
.main-grid-container {
	display: grid;
	grid: 100% / 20% 80%;
}
#header {
	grid-area: header;
}
#footer {
	grid-area: footer;
}
#header, #footer {
	font-size: 14px;
}
#header-container {
	display: grid;
	grid: 100% / 250px auto 250px;
}
#footer-container {
	display: grid;
	grid: 100% / 250px auto 250px;
}
#header-left {
	padding: 5px 10px;
}
#header-content, #footer-content {
	text-align: center;
}
#header-right {
	justify-self: end;
}
#footer-content {
	padding: 10px 0;
}
#footer-right {
	justify-self: end;
	padding: 10px 10px;
}
#menu {
	background: #ffffff;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	margin: 0 0 0 20px;
	height: 100%;
	overflow-y: auto;
}
.photo {
	height: 100%;
	max-height: 320px;
	max-width: 240px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
}
#photo_bg {
	position: relative;
	background-image: url('/img/ac/s/0.jpg');
}
#photo_del {
	height: 16px;
	width: 16px;
	position: absolute;
	top: 0;
	right: 0;
}
#photo_del:hover {
	cursor: pointer;
}
#photo_del:hover::after {
	content: attr(data-title);
	position: absolute;
	left: 16px;
	top: 16px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	background-color: #8ae0f2;
	font-size: 12px;
	padding: 2px 5px;
}
#school {
	font-weight: bold;
	font-size: 20px;
}
#info {
	height: 100%;
	display: grid;
	grid:
		"photo f" 15%
		"photo i" 15%
		"photo o" 15%
		"div birthday" 13.75%
		"address address" 13.75%
		"phone card" 13.75%
		/ 50%;
	align-items: center;
	background: #ffffff;
	margin: 0 20px 0 20px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.info-item {
	padding: 5px 10px;
}
#info-photo {
	grid-area: photo;
	height: 90%;
	text-align: center;
}
#info-address {
	grid-area: address;
	justify-self: center;
	text-align: center;
}
#info-div, #info-birthday, #info-phone, #info-card, #info-uid {
	justify-self: center;
	text-align: center;
}
#info-button1 {
	justify-self: end;
}
#info-button2 {
	justify-self: start;
}
.menu-item {
	margin: 4px 4px;
	padding: 5px 5px;
	text-align: center;
	font-size: 16px;
}
.menu-item:hover {
	cursor: pointer;
}
a.nav:link, a.nav:visited {
	margin: 0 1px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
button, input, select {
	font-size: 20px;
	border: 0;
	padding: 1px 5px;
}
.menu-item, a.nav:link, a.nav:visited, button, input, select {
	background-color: #8ae0f2;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	color: black;
}
.menu-item:hover, a.nav:hover, a.nav:active, button:hover, input:hover, select:hover {
	background-color: #00d2ff;
	box-shadow: 0 1px 0 0 #008cff, 0 0 0 1px #008cff;
}
input, select {
	font-style: italic;
}
input.no-data {
	background-color : #f13934;
}
input.submit {
	font-style: normal;
}
button:hover {
	cursor: pointer;
}
.checked, .checked:hover {
	background-color: #c548f1;
	box-shadow: 0 1px 0 0 #9300c7, 0 0 0 1px #9300c7;
}
