body {
	background: #e3f5f7;
	margin: 0 0 0 0;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	font-size: 16px;
	overflow: auto;
	min-height: 768px;
	min-width: 1024px;
}
#header, #footer {
	font-size: 14px;
	height: 5%;
	overflow: hidden;
}
#header-left, #footer-left {
	float: left;
	padding: 5px 10px;
	width: 200px;
	margin-left: -100%;
	position: relative;
	text-align: left;
}
#header-right, #footer-right {
	float: left;
	width: 200px;
	margin-left: -200px;
	position: relative;
	text-align: right;
}
#footer-right {
	margin-left: -210px;
	padding: 10 0 0 0;
}
#header-container, #footer-container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#header-content, #footer-content {
	padding: 0 220px 0 220px;
	text-align: center;
}
#footer-content {
	padding: 10 0 0 0;
}
#container {
	height: 90%;
  margin: 0 auto;
}
#menu {
  background: #ffffff;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 0 0 0 1%;
  height: 100%;
  width: 20%;
  float: left;
  overflow-y: auto;
}
#main {
	background: #ffffff;
  margin: 0 2% 0 2%;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.small {
	width: 50%;
}
#scrollable-container {
	height: 100%;
	overflow-y: scroll;
}
a.nav:link, a.nav:visited {
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  background-color: #8ae0f2;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.nav:hover, a.nav:active {
  background-color: #00d2ff;
}
.photo {
	height: 100%;
	max-height: 320px;
	max-width: 240px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
}
#photo_bg {
	position: relative;
	background-image: url('/img/ac/s/0.jpg');
}
#photo_del {
	height: 16px;
	width: 16px;
	position: absolute;
	top: 0;
	right: 0;
}
#photo_del:hover {
	cursor: pointer;
}
#photo_del:hover::after {
	content: attr(data-title);
	position: absolute;
  left: 16; top: 16;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  background-color: #8ae0f2;
  font-size: 12px; /* Размер текста подсказки */
  padding: 2px 5px; /* Поля */
}
#school {
	font-weight: bold;
	font-size: 20px;
}
button {
	font-size: 20px;
	background-color : #8ae0f2;
	border: 0;
	padding: 1 5 1 5;
}
input {
	font-style: italic;
	font-size: 20px;
	background-color : #8ae0f2;
	border: 0;
	padding: 1 5 1 5;
}
select {
	font-style: italic;
	font-size: 20px;
	background-color : #8ae0f2;
	border: 0;
	padding: 1 5 1 5;
}
.submit {
	font-style: normal;
}
button:hover, input:hover, select:hover {
	background-color: #00d2ff;
}
table {
	width: 100%;
	height: 90%;
}
tr {
	width: 100%;
}
td {
	width: 50%;
	padding: 5;
}
.info-container {
	width: 100%;
	height: 90%;
	display: grid;
	grid-template-areas:
		"photo f"
		"photo i"
		"photo o"
		"photo birthday"
		"address address"
		"phone card"
		"button1 button2";
	grid-template-columns: 50%;
	grid-template-rows: repeat(7, 1fr);
	align-items: center;
}
.info-item {
	padding: 5 10 5 10;
}
.info-item-photo {
	grid-area: photo;
	text-align: center;
}
.info-item-address {
	grid-area: address;
	justify-self: center;
	text-align: center;
}
.info-item-phone, .info-item-card {
	justify-self: center;
	text-align: center;
}
.info-item-button1 {
	justify-self: end;
}
.info-item-button2 {
	justify-self: start;
}
