.login-form {
    width: 550px;
		margin: 0 auto;
		background: #ffffff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.table {
	display: table;
	width: 100%;
}
.tr {
	display: table-row;
}
.td {
	display: table-cell;
	padding: 5px 10px;
}
.td-right {
	text-align: right;
}
.td-center {
	text-align: center;
}
.td-40 {
	width: 40%;
}
