a:link.pers, a:visited.pers {
  font-family: lucida sans unicode, lucida grande, sans-serif;
  font-size: 12px;
  color: black;
  text-decoration: none;
}
a:hover.pers {
  color: #00d2ff;
}
.tree-container {
  padding: 0;
  margin: 0;
}
.tree-container li {
	list-style-type: none;
}
.tree-node {
  margin-left: 18px;
  zoom: 1;
}
.tree-is-root {
  margin-left: 0;
}
.tree-expand {
  width: 18px;
  height: 18px;
  float: left;
}
 .tree-content {
  margin-left: 18px;
  min-height: 18px;
}
.tree-expand-open .tree-expand {
  background-image: url(/img/minus.gif);
}
.tree-expand-closed .tree-expand {
  background-image: url(/img/plus.gif);
}
.tree-expand-leaf .tree-expand {
	background-image: url(/img/leaf.gif);
}
.tree-node {
	margin-left: 18px;
	zoom: 1;
	background-image : url(/img/i.gif);
	background-position : top left;
	background-repeat : repeat-y;
}
.tree-is-last {
	background-image: url(/img/i_half.gif);
	background-repeat : no-repeat;
}
.tree-expand-open .tree-container {
	display: block;
}
.tree-expand-closed .tree-container {
	display: none;
}
.tree-expand-open .tree-expand, .tree-expand-closed .tree-expand {
	cursor: pointer;
}
.tree-expand-leaf .tree-expand {
	cursor: auto;
}
