
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-brand img {
    height: 39px;
}

.ac-navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    height: 4rem;
}

.ac-menu {
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
}

.photo-bg {
    height: 100%;
    max-height: 320px;
    max-width: 240px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}
.photo-bg {
    position: relative;
    background-image: url('/img/ac/s/0.jpg');
}
.photo-del {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0;
    right: 0;
}
.photo-del:hover {
    cursor: pointer;
}
.photo-del:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 16px;
    top: 16px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background-color: #8ae0f2;
    font-size: 12px;
    padding: 2px 5px;
}
