// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(61, 177, 255, 0.63);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(61, 177, 255, 0.23);
}

.navbar-brand img {
    height: 39px;
}

.ac-navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    height: 4rem;
}

.ac-menu {
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
}

.ac-menu-left {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ac-menu-right {
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.ac-alert {
    position: fixed;
    bottom: 5px;
    left: 2%;
    width: 96%;
    transition: all 2s;
}

@media (min-width: 768px) {
    .ac-alert {
        left: 20%;
        width: 60%;
    }
}
