// Fonts

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.news-entry {
    height: 4rem;
}

a.news-entry:link, a.news-entry:hover, a.news-entry:visited, a.news-entry:active {
    text-decoration: none;
}

.news-entry-date {
    color: #fff;
}

.news-entry-header {
    color: #000;
}
