html {
    height: 100%;
}
body {
    height: 100%;
    background: #000000;
    margin: 0;
}
#slides {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing {
    opacity: 1;
    z-index: 2;
}
.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}
.slideimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.controls {
    position: absolute;
    top: 50%;
    z-index: 10;
}
.controls-left {
    left: 10px;
}
.controls-right {
    right: 10px;
}
.button{
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 16px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;
    background-color: #ddd;
    background-image: linear-gradient(top, rgba(255,255,255,1),
    rgba(255,255,255,0)),
    url(data:image/png;base64,iVBORw0KGg[...]QmCC);
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
    0 2px 2px -1px rgba(0, 0, 0, .5),
    0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);
}
.button:hover{
    background-color: #eee;
    color: #555;
}
.button:active{
    background: #e9e9e9;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}
