.news-entry {
    height: 4rem;
    margin-bottom: 1rem;
}

.news-entry-link:link, .news-entry-link:visited, .news-entry-link:hover {
    color: #fff;
    text-decoration: none;
}

.news-entry-date {
    background: #00b3ee;
}

.news-entry-header {
    background: #2d995b;
}
