html {
	height: 100%;
}
body {
	height: 100%;
	background: #e3f5f7;
	margin: 0;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	font-size: 16px;
}
#container {
	height: 100%;
	min-height: 768px;
	min-width: 1024px;
	display: grid;
	grid:
		"header" 5%
		"main" 90%
		"footer" 5%
		/ 100%;
}
#main {
	grid-area: main;
}
.main-grid-container {
	display: grid;
	grid: 100% / 20% 80%;
}
#header {
	grid-area: header;
}
#footer {
	grid-area: footer;
}
#header, #footer {
	font-size: 14px;
}
#header-container {
	display: grid;
	grid: 100% / 250px auto 250px;
}
#footer-container {
	display: grid;
	grid: 100% / 250px auto 250px;
}
#header-left {
	padding: 5px 10px;
}
#header-content, #footer-content {
	text-align: center;
}
#header-right {
	justify-self: end;
}
#footer-content {
	padding: 10px 0;
}
#footer-right {
	justify-self: end;
	padding: 10px 10px;
}
#menu {
	background: #ffffff;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	margin: 0 0 0 20px;
	height: 100%;
	overflow-y: auto;
}
.photo {
	height: 100%;
	max-height: 320px;
	max-width: 240px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
}
#photo_bg {
	position: relative;
	background-image: url('/img/ac/s/0.jpg');
}
#photo_del {
	height: 16px;
	width: 16px;
	position: absolute;
	top: 0;
	right: 0;
}
#photo_del:hover {
	cursor: pointer;
}
#photo_del:hover::after {
	content: attr(data-title);
	position: absolute;
	left: 16px;
	top: 16px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	background-color: #8ae0f2;
	font-size: 12px;
	padding: 2px 5px;
}
#school {
	font-weight: bold;
	font-size: 20px;
}
#info {
	height: 100%;
	display: grid;
	grid:
		"photo f" 15%
		"photo i" 15%
		"photo o" 15%
		"div birthday" 13.75%
		"address address" 13.75%
		"phone card" 13.75%
		/ 50%;
	align-items: center;
	background: #ffffff;
	margin: 0 20px 0 20px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.info-item {
	padding: 5px 10px;
}
#info-photo {
	grid-area: photo;
	height: 90%;
	text-align: center;
}
#info-address {
	grid-area: address;
	justify-self: center;
	text-align: center;
}
#info-div, #info-birthday, #info-phone, #info-card, #info-uid {
	justify-self: center;
	text-align: center;
}
#info-button1 {
	justify-self: end;
}
#info-button2 {
	justify-self: start;
}
.menu-item {
	margin: 4px 4px;
	padding: 5px 5px;
	text-align: center;
	font-size: 16px;
}
.menu-item:hover {
	cursor: pointer;
}
a.nav:link, a.nav:visited {
	margin: 0 1px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
button, input, select {
	font-size: 20px;
	border: 0;
	padding: 1px 5px;
}
.menu-item, a.nav:link, a.nav:visited, button, input, select {
	background-color: #8ae0f2;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	color: black;
}
.menu-item:hover, a.nav:hover, a.nav:active, button:hover, input:hover, select:hover {
	background-color: #00d2ff;
	box-shadow: 0 1px 0 0 #008cff, 0 0 0 1px #008cff;
}
input, select {
	font-style: italic;
}
input.no-data {
	background-color : #f13934;
}
input.submit {
	font-style: normal;
}
button:hover {
	cursor: pointer;
}
.checked, .checked:hover {
	background-color: #c548f1;
	box-shadow: 0 1px 0 0 #9300c7, 0 0 0 1px #9300c7;
}

a:link.person, a:visited.person {
	font-family: lucida sans unicode, lucida grande, sans-serif;
	font-size: 13px;
	color: black;
	text-decoration: none;
}
a:link.no-card, a:visited.no-card {
	color: #db3b3b;
	font-weight: bold;
}
a:hover.person {
	color: #00d2ff;
}
.tree-container {
	padding: 0;
	margin: 0;
}
.tree-container li {
	list-style-type: none;
}
.tree-node {
	margin-left: 18px;
	zoom: 1;
}
.tree-is-root {
	margin-left: 0;
}
.tree-expand {
	width: 18px;
	height: 18px;
	float: left;
}
	.tree-content {
	margin-left: 18px;
	min-height: 18px;
}
.tree-expand-open .tree-expand {
	background-image: url(/img/minus.gif);
}
.tree-expand-closed .tree-expand {
	background-image: url(/img/plus.gif);
}
.tree-expand-leaf .tree-expand {
	background-image: url(/img/leaf.gif);
}
.tree-node {
	margin-left: 18px;
	zoom: 1;
	background-image : url(/img/i.gif);
	background-position : top left;
	background-repeat : repeat-y;
}
.tree-is-last {
	background-image: url(/img/i_half.gif);
	background-repeat : no-repeat;
}
.tree-expand-open .tree-container {
	display: block;
}
.tree-expand-closed .tree-container {
	display: none;
}
.tree-expand-open .tree-expand, .tree-expand-closed .tree-expand {
	cursor: pointer;
}
.tree-expand-leaf .tree-expand {
	cursor: auto;
}

html {
    height: 100%;
}
body {
    height: 100%;
    background: #000000;
    margin: 0;
}
#slides {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing {
    opacity: 1;
    z-index: 2;
}
.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}
.slideimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.controls {
    position: absolute;
    top: 50%;
    z-index: 10;
}
.controls-left {
    left: 10px;
}
.controls-right {
    right: 10px;
}
.button{
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 16px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;
    background-color: #ddd;
    background-image: linear-gradient(top, rgba(255,255,255,1),
    rgba(255,255,255,0)),
    url(data:image/png;base64,iVBORw0KGg[...]QmCC);
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
    0 2px 2px -1px rgba(0, 0, 0, .5),
    0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);
}
.button:hover{
    background-color: #eee;
    color: #555;
}
.button:active{
    background: #e9e9e9;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

#scrollable-container {
	height: 100%;
	overflow-y: scroll;
	background: #ffffff;
	margin: 0 20px 0 20px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
table {
	width: 100%;
	height: 90%;
}
tr {
	width: 100%;
}
td {
	padding: 5;
	width: 40%;
}
